<%= form_for [@post, @comment] do |f| %>

  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <ul>
        <h2>errors:</h2>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end  %>

  <%= f.label :title %>
  <%= f.text_field :title, :maxlength => 40, :placeholder => "40 characters max" %>

  <%= f.label :body %>
  <%= f.text_area :body, :maxlength => 141, :placeholder => "141 characters max" %>


  <%= f.submit %>
<% end %>
