<%= form_for @artist do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <ul>
        <h2>errors:</h2>
        <% @artist.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end  %>
  
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :photo_url %>
  <%= f.text_field :photo_url %>

  <%= f.label :nationality %>
  <%= f.text_field :nationality %>

  <%= f.submit %>
<% end %>
