<section class="post-info">
  <h2>
    <%= @post.title %>
    <%= link_to "(edit)", edit_post_path(@post) %>
  </h2>

  <%= @post.author.email %></p>
</section>

<p><%= @post.body %></p>

<section class="post-comments">
  <h2>comments</h2>
  <ul>
    <% @post.comments.each do |comment| %>
      <li><%= comment.title  %>
        <%= comment.body %>
        <%= link_to comment.author, comment %>
      </li>
    <% end %>
    <%= link_to "New Comment", new_comment_path %>
  </ul>
</section>
