<section class="artist-info">
  <h2>
    <%= @artist.name %>
    <%= link_to "(edit)", edit_artist_path(@artist) %>
  </h2>

  <p class="nationality"><%= @artist.nationality %></p>
</section>

<img class='artist-photo' src="<%= @artist.photo_url %>">

<section class="artist-songs">
  <h2>Songs</h2>
  <ul>
    <% @artist.songs.each do |song| %>
      <li><%= link_to song.title, song %></li>
    <% end %>
  </ul>
</section>
